{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contrat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contrat.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ contrat.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ contrat.description }}</td>
            </tr>
            <tr>
                <th>Cinassure</th>
                <td>{{ contrat.cinAssure }}</td>
            </tr>
            <tr>
                <th>Nomentr</th>
                <td>{{ contrat.nomentr }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ contrat.type }}</td>
            </tr>
            <tr>
                <th>Idtype</th>
                <td>{{ contrat.idType }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{% if contrat.dateDebut %}{{ contrat.dateDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateecheance</th>
                <td>{% if contrat.dateEcheance %}{{ contrat.dateEcheance|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ contrat.etat }}</td>
            </tr>
            <tr>
                <th>Prime</th>
                <td>{{ contrat.prime }}</td>
            </tr>
            <tr>
                <th>Nvprime</th>
                <td>{{ contrat.nvprime }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contrat_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('contrat_edit', { 'id': contrat.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
