{% extends 'base.html.twig' %}

{% block main %}
    <main class="main-content">
        <div class="page">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="section-title text-left">Contact form</h2>

                        <form action="{{ path('front_Edit1Spage') }}" class="contact-form" method="POST" >
                            <div class=""><input type="number" placeholder="code sinistre"  name="codes" value="{{ c }}" hidden></div>
                            <div class="row">
                                <div class="col-md-6"><input type="date" placeholder="Your name..." max="{{ now|date('Y-m-d') }}" name="dates" value="{{ d| date('Y-m-d') }}"></div>
                                <div class="col-md-6"><input type="text" placeholder="lieu sinistre" name="lieus"value="{{ l }}"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><input type="number" min="0" max="1" placeholder="Domage corporelle..."name="dc"value="{{ dc }}"></div>
                                <div class="col-md-6"><input type="number" min="0" max="1"   placeholder="Domage materiel..."name="dm"value="{{ dm }}"></div>
                            </div>
                            <textarea  placeholder="description..."name="desc">{{ desc }}</textarea>
                            <p class="text-right">
                                <input type="submit" value="edit" name="btn"class="col-md-12" >
                            </p>
                        </form>

                    </div>
                </div>
            </div>
        </div> <!-- .page -->
    </main>


{% endblock %}