{% extends 'Backbase.html.twig' %}

{% block main %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Data Table Example</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Date Declaration</th>
                        <th>Date Sinistre</th>
                        <th>Lieu Sinistre</th>
                        <th>Dommage Materielle</th>
                        <th>Dommage Corporelle</th>
                        <th>Description</th>
                        <th>Valider</th>
                        <th>Rejeter</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Date Declaration</th>
                        <th>Date Sinistre</th>
                        <th>Lieu Sinistre</th>
                        <th>Dommage Materielle</th>
                        <th>Dommage Corporelle</th>
                        <th>Description</th>
                        <th>Valider</th>
                        <th>Rejeter</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for i in c %}
                        <tr>

                            <td> {{ i.getDateDeclaration()|date("m/d/Y") }} </td>
                            <td> {{ i.getDateSinistre()|date("m/d/Y") }} </td>
                            <td> {{ i.getLieuSinistre() }} </td>
                            <td> {{ i.getDommageCorp()|number_format }} </td>
                            <td> {{ i.getDommageMat()|number_format }} </td>
                            <td> {{ i.getDescription() }} </td>
                            <td><a href="{{ path('Valider_NouvSin', {'id':i.codeSinistre}) }}"> <input class="btn btn-primary" type="submit" name="valider" value="valider"></a></td>
                            <td><a href="{{ path('Rejeter_NouvSin', {'id':i.codeSinistre}) }}"> <input class="btn btn-primary" type="submit" name="Supprimer" value="rejeter"></a></td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>

    </div>


{% endblock %}
