{% extends 'Backbase.html.twig' %}
{% block main %}
    <link href="{{ asset('assets/fonts/form.css') }}" rel="stylesheet" type="text/css">
    <div>
        <div class="form-style-6">
            <h1> Saisir une offre partenaire:  </h1>
            {{ form(form, {'attr': {'class': 'form-style-6'}}) }}

        </div>
        <div class="card mb-3" style="width:1120px">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Liste des offres</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="50%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Libelle</th>
                            <th>DateDebut</th>
                            <th>DateFin</th>
                            <th>Pourcentage</th>
                            <th>partenaire</th>
                            <th>Description</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Libelle</th>
                            <th>DateDebut</th>
                            <th>DateFin</th>
                            <th>Pourcentage</th>
                            <th>partenaire</th>
                            <th>Description</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr>
                            {% for i in o  %}
                            <td>{{ i.liboffre }}</td>
                            <td>{{ i.datedebutoffre|date }}</td>
                            <td>{{ i.datefinoffre|date }}</td>
                            <td>{{ i.pourcentagereduction }}</td>
                            <td>{{ i.partenaire.libelle  }}</td>
                            <td>{{ i.descripoffre }}</td>
                            <td><a href={{ path('modifierPB',{'id':i.idoffre}) }}> Modifier</a></td>
                            <td><a href={{ path('supprimerPB',{'id':i.idoffre}) }}> Supprimer</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

{% endblock %}
